/* fluid resizing */

:root {
  --size: 375;
  --clamp: 11px;
  --global-font-size: clamp(
    1px,
    calc(10 * (100vw / var(--size))),
    var(--clamp)
  );

  /* animation */
  --ease-in-out: transform 0.5s cubic-bezier(1, 0, 0.5, 1);
  --ease-in: all 0.25s cubic-bezier(0.57, 0, 1, 0.48);
  --ease-out: all 0.5s cubic-bezier(0, 0.89, 0.32, 1);
  --linear: all 0.5s linear;
}

@media (min-width: 650px) {
  :root {
    --size: 1800;
  }
}

html {
  font-size: var(--global-font-size);
  font-kerning: none;
  font-variant-ligatures: common-ligatures;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  background-color: theme("colors.shadowblue");
  color: theme("colors.black");
  hyphens: none;
}

/* @media (min-width: 1201px) and (max-width: 1800px) {
  html {
    font-size: clamp(0.625rem, -0.125rem + 1vw, 1rem);
  }
}
@media (min-width: 650px) and (max-width: 1200px) {
  html {
    font-size: clamp(0.5625rem, 0.3152rem + 0.6087vw, 1rem);
  }
}
@media (max-width: 649px) {
  html {
    font-size: clamp(1rem, 0.25rem + 3.0769vw, 1.5rem);
  }
} */

/* setup */

body {
  font-family: theme("fontFamily.helv");
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1.31;
  color: theme("colors.black");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: theme("colors.skyblue"); */
}
::-moz-selection {
  background: theme("colors.red");

  color: #fff;
}
::selection {
  background: theme("colors.red");
  color: #fff;
}
b,
strong {
  font-weight: normal;
  font-family: "Helvetica Neue LT Pro Bold", sans-serif;
}
a,
button,
.basic-trans,
input[type="submit"] {
  transition:
    color 0.3s linear,
    background-color 0.3s linear,
    opacity 0.3s linear,
    border-color 0.3s linear;
}
input[type="submit"] {
  cursor: pointer;
}
sup {
  font-size: 0.5em;
  top: -0.75em;
}

/* UI */

/* .ul-link {
  a {
    text-decoration: underline;
    text-underline-offset: 0.35rem;
    &:hover {
      opacity: 0.75;
    }
  }
} */
.ul {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.1rem;
    width: 100%;
    height: 1px;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: left top;
    transition: var(--ease-in);
  }
  &.on,
  &.nuxt-link-active {
    &:after {
      transform: scaleX(1);
      opacity: 1;
      transition: var(--ease-out);
    }
  }
}

.bullets {
  li {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2.2rem;
    font-size: theme("fontSize.body-sm");
    &:before {
      content: "";
      width: 0.85rem;
      height: 1.4rem;
      background: url(/ui/arrow-bullet.svg) left top no-repeat;
      background-size: 0.85rem auto;
      position: absolute;
      left: 0;
      top: 0.4rem;
    }
  }
  &.lines {
    li {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      &:before {
        top: 2.75rem;
      }
    }
  }
}

.basic-list {
  ul {
    padding-left: 1rem;
    li {
      padding-left: 0.5rem;
      + li {
        margin-top: 1rem;
      }
    }
    li:before {
      content: "•";
      position: absolute;
      margin-left: -1rem;
    }
  }
}

.break {
  flex-basis: 100%;
  height: 0;
}
.col {
  position: relative;
}

@media (max-width: 900px) {
  .has-break br {
    display: none;
  }
}

@media (min-width: 650px) {
  .has-break-mob br {
    display: none;
  }
}

@media (max-width: 649px) {
  .bullets {
    li {
      padding-left: 3.125rem;
      min-height: 2.25rem;
      &:before {
        width: 2.25rem;
        height: 2.25rem;
        background-size: 2.25rem auto;
      }
    }
  }
}

/* blog / plain text */

.article-body {
  h2 {
    font-size: 1.825rem;
    line-height: 2.25rem;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
  p,
  ul,
  ol {
    + h2,
    + h3 {
      margin-top: 3rem !important;
    }
  }

  ol {
    list-style: decimal;
    padding-left: 3rem;
    li + li {
      margin-top: 1rem;
    }
  }
  ul:not(.bullets) {
    padding-left: 1rem;
    li {
      padding-left: 0.5rem;
      + li {
        margin-top: 1rem;
      }
    }
    li:before {
      content: "•";
      position: absolute;
      margin-left: -1rem;
    }
  }
  .bullets {
    padding: 0.5rem 0;
    li + li {
      margin-top: 1rem;
    }
  }
  table {
    td {
      padding: 0.5rem;
      vertical-align: top;
    }
    margin: 2rem auto !important;
  }
}

@media (max-width: 649px) {
  .article-body {
    h2 {
      font-size: 1.5625rem;
      line-height: 1.875rem;
    }
    p {
      + h2,
      + h3 {
        margin-top: 2rem !important;
      }
    }
  }
}

/* transitions */

.group {
  h2,
  p {
    transition: color 0.5s linear;
  }
}
svg.trans {
  transition: all 0.3s linear;
}

/* hoveres */
@media (pointer: fine) {
}

.scroll-reveal {
  opacity: 0;
  transition: all 0.5s ease-out;
  &.on {
    opacity: 1;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .blog-grid .scroll-reveal {
    &:nth-child(2n + 2) {
      transition-delay: 0.2s;
    }
  }
}
@media (min-width: 1201px) {
  .blog-grid .scroll-reveal {
    &:nth-child(3n + 2) {
      transition-delay: 0.15s;
    }
    &:nth-child(3n + 3) {
      transition-delay: 0.3s;
    }
  }
}
@media (min-width: 769px) {
  .blog-grid .scroll-reveal {
    &:nth-child(2n + 2) {
      transition-delay: 0.2s;
    }
  }
}

/* page transition */

.page-change {
  position: fixed;
  left: 100vw;
  top: 0;
  width: 100vw;
  height: 100%;
  pointer-events: none;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  z-index: 50;
  &.show {
    left: 0;
    &:after {
      animation: spin 1.5s ease-in-out infinite;
    }
  }
  &:after {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    z-index: 11;
    left: 50vw;
    top: 50vh;
    margin: -75px 0 0 -75px;
    opacity: 0;
    transition: opacity 0.25s ease-out;
  }
}
.change {
  pointer-events: all;
  opacity: 0.5;
  &:after {
    opacity: 0.15;
  }
}

/* animations */

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* forms */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset;
  -webkit-text-fill-color: #000;
}
